 <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <h5>Recently Completed Tasks</h5>
              <% @list_of_completed_tasks.each do |a_task| %>
              <li>
                <a href="/tasks/<%= a_task.id %>"><%= a_task.title%></a>
              </li>
              <% end %>
            </ul>
            

          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div>
            <div>
              <h1>
                Dashboard
              </h1>
            </div>
          </div>

          <hr>
          <a class="btn btn-primary btn-lg" href="/new_task" role="button">Add a new task!</a>
          <hr>

          <div class="row">
            <div class ="col-4">
              <h1>Easy Tasks</h1>
              <% @list_of_easy_tasks.each do |a_task|%>

              <div class="jumbotron">
                <h2 class="display-4"><%= a_task.title%></h2>
                <% if a_task.deadline %>
                  <p>Due: <%= a_task.deadline%></p>
                <% else %>
                  <p>No due date!</p>
                <% end %>
                <hr class="my-4">
                <p class="lead"><%= a_task.description%></p>     
                <div class ="row">
                  <div class="col-6">
                    <p class="lead">
                      <a class="btn btn-primary btn-lg" href="/tasks/<%= a_task.id %>" role="button">More Info!</a>
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="lead">
                      <a class="btn btn-success btn-lg" href="/tasks/<%= a_task.id %>" role="button">Mark as Complete!</a>
                    </p>
                  </div>
                </div>
              </div>
              <% end %>
            </div>

            <div class ="col-4">
              <h1>Medium Tasks</h1>
              <% @list_of_medium_tasks.each do |a_task|%>

              <div class="jumbotron">
                <h1 class="display-4"><%= a_task.title%></h1>
                <p class="lead"><%= a_task.description%></p>
                <hr class="my-4">
                <% if a_task.deadline %>
                  <p>Due: <%= a_task.deadline%></p>
                <% else %>
                  <p>No due date!</p>
                <% end %>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="/tasks/<%= a_task.id %>" role="button">More Info!</a>
                </p>
              </div>
              <% end %>
            </div>

            <div class ="col-4">
              <h1>Hard Tasks</h1>
              <% @list_of_hard_tasks.each do |a_task|%>

              <div class="jumbotron">
                <h1 class="display-4"><%= a_task.title%></h1>
                <p class="lead"><%= a_task.description%></p>
                <hr class="my-4">
                <% if a_task.deadline %>
                  <p>Due: <%= a_task.deadline%></p>
                <% else %>
                  <p>No due date!</p>
                <% end %>
                <div class ="row">
                  <div class="col-6">
                    <p class="lead">
                      <a class="btn btn-primary btn-lg" href="/tasks/<%= a_task.id %>" role="button">More Info!</a>
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="lead">
                      <a class="btn btn-primary btn-lg" href="/tasks/<%= a_task.id %>" role="button">Mark as Complete!</a>
                    </p>
                  </div>
                </div>
                
              </div>
              <% end %>
            </div>
          </div>
        </main>
      </div>
</div>