 <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Customers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                  Integrations
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div>
          <div>
            <h1>
              Dashboard
            </h1>
          </div>
        </div>

        <hr>
        <a class="btn btn-primary btn-lg" href="/new_task" role="button">Add a new task!</a>
      </div>
</div>




<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Title
        </th>

        <th>
          Description
        </th>

        <th>
          Difficulty
        </th>

        <th>
          Deadline
        </th>

        <th>
          Completion percentage
        </th>

        <th>
          Completion time
        </th>

        <th>
          Completed
        </th>
        <th>
        </th>
      </tr>

      <% @list_of_tasks.each do |a_task| %>
      <tr>

        <td>
          <%= a_task.title %>
        </td>

        <td>
          <%= a_task.description %>
        </td>

        <td>
          <%= a_task.difficulty %>
        </td>

        <td>
          <%= a_task.deadline %>
        </td>

        <td>
          <%= a_task.completion_percentage %>
        </td>

        <td>
          <%= a_task.completion_time %>
        </td>

        <td>
          <%= a_task.completed %>
        </td>

        <td>
          <a href="/tasks/<%= a_task.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div class="row">
  <div class ="col-4">
    <h1>Easy Tasks</h1>
    <% @list_of_easy_tasks.each do |a_task|%>

    <div class="jumbotron">
      <h2 class="display-4"><%= a_task.title%></h2>
      <% if a_task.deadline %>
        <p>Due: <%= a_task.deadline%></p>
      <% else %>
        <p>No due date!</p>
      <% end %>
      <hr class="my-4">
       <p class="lead"><%= a_task.description%></p>     
      <div class ="row">
        <div class="col-6">
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/tasks/<%= a_task.id %>" role="button">More Info!</a>
          </p>
        </div>
        <div class="col-6">
          <p class="lead">
            <a class="btn btn-success btn-lg" href="/tasks/<%= a_task.id %>" role="button">Mark as Complete!</a>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class ="col-4">
    <h1>Medium Tasks</h1>
    <% @list_of_medium_tasks.each do |a_task|%>

    <div class="jumbotron">
      <h1 class="display-4"><%= a_task.title%></h1>
      <p class="lead"><%= a_task.description%></p>
      <hr class="my-4">
      <% if a_task.deadline %>
        <p>Due: <%= a_task.deadline%></p>
      <% else %>
        <p>No due date!</p>
      <% end %>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/tasks/<%= a_task.id %>" role="button">More Info!</a>
      </p>
    </div>
    <% end %>
  </div>

   <div class ="col-4">
    <h1>Hard Tasks</h1>
    <% @list_of_hard_tasks.each do |a_task|%>

    <div class="jumbotron">
      <h1 class="display-4"><%= a_task.title%></h1>
      <p class="lead"><%= a_task.description%></p>
      <hr class="my-4">
      <% if a_task.deadline %>
        <p>Due: <%= a_task.deadline%></p>
      <% else %>
        <p>No due date!</p>
      <% end %>
      <div class ="row">
        <div class="col-6">
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/tasks/<%= a_task.id %>" role="button">More Info!</a>
          </p>
        </div>
        <div class="col-6">
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/tasks/<%= a_task.id %>" role="button">Mark as Complete!</a>
          </p>
        </div>
      </div>
      
    </div>
    <% end %>
  </div>


</div>